<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="/"><img src="/images/fun.png" alt="{{ site.title }}" style="border-radius: 12px; margin: 9px 0 18px 0" title="Fun"></a>
    <nav class="site-nav">
      <a href="#" class="menu-icon"><span>&#8801;</span></a>
      <div class="trigger">
      <h2 style="display:none;">Navigation</h2>
        <ul style="list-style: none;">
          <li><a class="page-link" href="/" style="text-decoration:none;" title="/">/</a></li>
<!--          <li><a class="page-link" href="/about/" style="text-decoration:none;" title="/about/">/about/</a></li>-->
          <li><a class="page-link" href="/blog/" style="text-decoration:none;" title="/blog/">/blog/</a></li>
          <li><a class="page-link" href="/community/" style="text-decoration:none;" title="/community/">/community/</a></li>
          <li><a class="page-link" href="/contact/" style="text-decoration:none;" title="/contact/">/contact/</a></li><!--
          <li><a class="page-link" href="/development/" style="text-decoration:none;" title="/development/">/development/</a></li>
          <li><a class="page-link" href="/documentation/" style="text-decoration:none;" title="/documentation/">/documentation/</a></li>
          <li><a class="page-link" href="/examples/" style="text-decoration:none;" title="/examples/">/examples/</a></li>-->
          <li><a class="page-link" href="/faq/" style="text-decoration:none;" title="/faq/">/faq/</a></li>
<!--
          <li><a class="page-link" href="/projects/" style="text-decoration:none;" title="/projects/">/projects/</a></li>
          <li><a class="page-link" href="/tools/" style="text-decoration:none;" title="/tools/">/tools/</a></li>
          <li>----------------</li>
          <li><a class="page-link" href="/account/" style="text-decoration:none;" title="/account/">/account/</a></li>
-->
<!--
https://www.w3schools.com/howto/howto_js_toggle_dark_mode.asp
https://dev.to/warish/how-to-create-a-dark-mode-toggle-with-html-css-and-javascript-378m
-->
<!--
          <li><div class="toggle-container" id="themeToggle">
            <svg class="sun-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="5"></circle>
                <line x1="12" y1="1" x2="12" y2="3"></line>
                <line x1="12" y1="21" x2="12" y2="23"></line>
                <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                <line x1="1" y1="12" x2="3" y2="12"></line>
                <line x1="21" y1="12" x2="23" y2="12"></line>
                <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
            </svg>
            <svg class="moon-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
            </svg>
        </div></li>
-->
        </ul>
      </div>
    </nav>
  </div>
</header>

